---
import Layout from '@/layouts/AdminLayout.astro';
import JumpstartWizard from '@/components/admin/jumpstart/JumpstartWizard';
---

<Layout title="Guided Jumpstart Test">
    <div class="p-8">
        <JumpstartWizard client:load />
    </div>
</Layout>
