---
import Layout from '@/layouts/AdminLayout.astro';
import ContentFactoryDashboard from '@/components/admin/content/ContentFactoryDashboard';
---
<Layout title="Factory Command Center">
  <div class="p-8">
    <ContentFactoryDashboard client:load />
  </div>
</Layout>
