---
import Layout from '@/layouts/AdminLayout.astro';
import SettingsManager from '@/components/admin/SettingsManager';
---
<Layout title="System Settings">
  <div class="p-8">
     <SettingsManager client:load />
  </div>
</Layout>
